{{- $invenioFullname := include "invenio.fullname" . | trim }}
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ printf "%s" $invenioFullname }}-initcontainer-render-scripts
  labels:
    {{- include "invenio.labels" . | nindent 4 }}
    app: {{ .Values.invenio.remote_apps.secret_name }}
  annotations:
    helm.sh/resource-policy: keep
stringData:
  invenio-001-entrypoint-settings: |-
    # Test for the existence of the directory containing entrypoint scripts
    if [ -v INVENIO_ENTRYPOINT_SCRIPTS ] || [ -z INVENIO_ENTRYPOINT_SCRIPTS ]; then 
      echo -e "\ninvenio-001-entrypoint-settings: variable INVENIO_ENTRYPOINT_SCRIPTS not set. I do not know scripts location"
      exit 137
    elif [ ! -d ${INVENIO_ENTRYPOINT_SCRIPTS} ] ; then 
      echo -e "\ninvenio-001-entrypoint-settings: variable INVENIO_ENTRYPOINT_SCRIPTS points to ${INVENIO_ENTRYPOINT_SCRIPTS}"
      echo -e "\ninvenio-001-entrypoint-settings: a directory ${INVENIO_ENTRYPOINT_SCRIPTS} does not exists."
      exit 137
    else 
      # Remove trailing slash if present 
      export INVENIO_ENTRYPOINT_SCRIPTS=${INVENIO_ENTRYPOINT_SCRIPTS%\/}
      echo -e "\ninvenio-001-entrypoint-settings: entrypoint scripts directory: ${INVENIO_ENTRYPOINT_SCRIPTS}  "
    fi  
  invenio-002-rendered-directory: |-
    # Test for the existence of the directory with the final rendered configuration
    if [ -v INVENIO_DIRS_RENDERED_CONFIG ] || [ -z INVENIO_DIRS_RENDERED_CONFIG ]; then
      echo -e "\ninvenio-002-rendered-directory: variable INVENIO_DIRS_RENDERED_CONFIG not set. I do not know where to store final configuration"
      exit 137
    elif [ ! -d ${INVENIO_DIRS_RENDERED_CONFIG} ] ; then
      echo -e "\ninvenio-002-rendered-directory: variable INVENIO_DIRS_RENDERED_CONFIG points to directory ${INVENIO_DIRS_RENDERED_CONFIG}"
      echo -e "\ninvenio-002-rendered-directory: directory ${INVENIO_DIRS_RENDERED_CONFIG} does not exists."
      exit 137
    else
      # Remove trailing slash if present 
      export INVENIO_DIRS_RENDERED_CONFIG=${INVENIO_DIRS_RENDERED_CONFIG%\/}
      echo -e "\ninvenio-002-rendered-directory: rendered config directory: ${INVENIO_DIRS_RENDERED_CONFIG}"
    fi
  invenio-011-check-environments: |-
    if [ ! -v INVENIO_ENV ] || [ -z INVENIO_ENV ]; then 
      echo -e "invenio-001-check-environments: Variable INVENIO_ENV not set or variable is empty"
      exit 11
    else
      echo -e ""invenio-001-check-environments: Environment is set. INVENIO_ENV=${INVENIO_ENV}""
    fi
  invenio-012-session-cookie: |-
    if [ ${INVEIO_ENV^^} = "PRODUCTION" ]; then 
      if [ ! -v INVENIO_SESSION_COOKIE_SECURE ] || [ -z INVENIO_SESSION_COOKIE_SECURE ] || [ ${INVENIO_SESSION_COOKIE_SECURE^^} != "TRUE" ] ; then 
        echo -e "inveio-012-session-cookie: Variable INVENIO_SESSION_COOKIE_SECURE not set or variable is empty or not set to True"
        exit 12
      else 
        echo -e "inveio-012-session-cookie: Variable INVENIO_SESSION_COOKIE_SECURE set to ${INVENIO_SESSION_COOKIE_SECURE}"
      fi
    else
      echo -e "inveio-012-session-cookie: Variable INVENIO_SESSION_COOKIE_SECURE set to ${INVENIO_SESSION_COOKIE_SECURE}"
    fi
  invenio-110-check-redis: |-
    # there should be a redis-cli or python check for redis
    echo -e "invenio-110-check-redis: there should be a redis-cli or python check for redis"
  invenio-449-render-envs: |-
    cd ${INVENIO_DIRS_RENDERED_CONFIG} 
    env | grep "^INVENIO" >> env
  entrypoint: |-
    cd ${INVENIO_ENTRYPOINT_SCRIPTS}     
    # This code executes a scripts in lexicographical order
    # get file list as shell glob expansion 
    shopt -s nullglob
    files=(${INVENIO_ENTRYPOINT_SCRIPTS}/invenio*)
    echo ${files[*]}
    shopt -u nullglob
    # Execute files in lexicographical order
    if [ ${#files[@]} -gt 0 ]; then 
    #mapfile -t listToExec < <(printf "%s\n" ${files[@]} | sort -V )
    #for item in ${listToExec[@]}; do
      for item in ${files[@]}; do
        echo -e "\nExecuting item: ${item}"
        source ${item}
      done
    fi 

