{{- $mounted := .Values.invenio.mountedDir }}
{{- $rendered := .Values.invenio.configDir }}
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "invenio.fullname" . }}-copy-configfiles
  labels:
    {{- include "invenio.labels" . | nindent 4 }}
    app: {{ .Values.invenio.remote_apps.secret_name }}
  annotations:
    helm.sh/resource-policy: keep
stringData:
  copy.sh: |-
    cd {{ $mounted }}
    cp {{ printf "*.yaml %s" $rendered }}
